@font-face {
  font-family: VCR OSD Mono;
  src: url(../assets/VCR_OSD_MONO_1.001.ttf);
}
body {
  background-color: transparent;
  background-image: url();
  background-attachment: fixed;
  font-family: 'VCR OSD Mono', monospace;
  overflow: hidden;
  text-align: center;
}
a { color: #000; }
a:hover { text-decoration: none; }
a:visited { text-decoration: none; }
p {   
  color: #000;
  font-size: 2vw;
  overflow: hidden;
  line-height: 1em;
  text-transform: none;
}
h1 {
  font-size: 5vw;
  text-align: center;
}
.container {
  height: 100%;
  width: 100%;
}
#content {
  max-height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}
#game-directory {
  height: 100%;
  margin: 100% 0 0;
  position: relative;
  width: 100%;
}
.game-directory-container {
  display: -webkit-flex;
  display: flex;
  height: auto;
  position: relative;
  width: 100%;
}
.game-directory-item {
  background-color: #efefef;
  height: 200px;
  margin: 0 20px;
  width: 200px;
}
.game-directory-item img {
  display: block;
  height: auto;
  max-width: 100%;
}
/* hover descriptions */
.overlay-container {
  position: relative;
  width: 50%;
}
.hoverbox {
  background-color: #000;
  bottom: 0;
  height: auto;
  left: 12%;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: .5s ease;
  width: 200px;
}
.overlay-container:hover .hoverbox { opacity: 0.7; }
.hovertext, .hovertext a {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


#download-link {
  display: block;
  height: 5%;
  width: auto;
}
#download-link h1 {
  font-size: 2vw;
  text-align: center;
}
#n64 img {
  height: auto;
  left: 50%;
  max-width: 85px;
  position: absolute;
  bottom: 1%;
  transform: translate(-50%, -50%);
}